[Match]
Name=br0

[Link]
RequiredForOnline=degraded

[Bridge]

[Network]
BindCarrier=eth1
DHCP=yes
LinkLocalAddressing=no
IPv6AcceptRA=no
ConfigureWithoutCarrier=yes

[DHCPv4]
ClientIdentifier=mac
