[Match]
Name=br0

[Link]
RequiredForOnline=degraded

[Network]
BindCarrier=eth0
DHCP=yes
LinkLocalAddressing=no

# IEEE Std 1722.1 Table B.1 ADP and ACMP
[BridgeMDB]
MulticastGroupAddress=91:e0:f0:01:00:00
VLANId=1
