[Unit]
Description=Stream Reservation Protocol (SRP)
After=ptp4l.service
PartOf=avb.target

[Service]
Type=notify

Environment=BR=br0
Environment=INTERFACES="lan0 lan1 lan2 lan3"
Environment=GROUPS="91:e0:f0:01:00:00 91:e0:f0:01:00:01 91:e0:f0:00:ff:00"

# configure MVRP hook
ExecStartPre=/usr/sbin/nft add table bridge nat
ExecStartPre=/usr/sbin/nft add chain bridge nat PREROUTING { type filter hook prerouting priority dstnat; policy accept; }
ExecStartPre=/usr/sbin/nft add rule bridge nat PREROUTING meta ibrname $BR ether daddr 01:80:c2:00:00:21 log group 10 drop

ExecStartPre=/bin/sh -c 'for ETH in $$INTERFACES; do for GRP in $$GROUPS; do bridge mdb add dev "$$BR" port "$$ETH" grp "$$GRP" permanent || true; done; done'

# start SRP daemon
ExecStart=/usr/sbin/mrpd --enable-srp -b $BR --force-avb-capable --configure-egress-queues --rest-server-port 80

# unconfigure MVRP hook
ExecStopPost=-/usr/sbin/nft delete table bridge nat

[Install]
WantedBy=multi-user.target

