[Unit]
Description=Precision Time Protocol (PTP) service
Documentation=man:ptp4l
PartOf=avb.target

[Service]
Type=simple
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=80
ExecStartPre=/usr/bin/sh -c '/usr/bin/pgrep -x ptp0 | /usr/bin/xargs -I {} /usr/bin/chrt -f --pid 75 {}'
ExecStart=/usr/sbin/ptp4l -f /etc/gPTP.cfg -l 5 -m

[Install]
WantedBy=multi-user.target
